<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link to Reset your Password</title>
    <style>
        body {
            font-size: 24px;
            /* align-items: center; */
            /* text-align: center; */
        }

        button {
            background-color: #000;
            text-decoration: none;
            border-radius: 7px;
            border-spacing: 0 !important;
            /* border-collapse: collapse; */
            padding: 20px 20px 20px 20px;
            font-size: 27px;
            font-family: 'Maven Pro', sans-serif;
            color: white;
            text-transform: uppercase;
            text-align: center;
            margin: 5% 14%;

            top: 20%;
            left: 50%;
        }

        .reset-password {
            border: 20px solid #000;
            width: 740px;
        }

        .block {
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="reset-password" style="font-size: 18px;">
        <div class="block"><img src="https://github.com/rishabhkhare314/clock/blob/master/public/reset-password.png" alt="forgot-password" />
            <p>Hello, <%= obj.userName %></p>
            <p>Forgot your Password? Don't worry. Just visit the link below to create a new Password.</p>
            <button><a href= <%= obj.token %> />create new password</a></button>
            <p>If you do not request a Password change, ignore this mail and your Password will remain same.</p>
            <p>Cheers,</p>
            <p>Team Urban Refresh</p>
        </div>
    </div>
</body>

</html>