<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-size: 24px;
      }
      .box {
        border: 10px solid #000;
        width: 740px;
      }
    </style>
  </head>

  <body>
    <div class="box">
      <div>
        <img
          src="./5d4d82ec574a788542d8e1e9_success-2-once.gif"
          style="
            height: 80px;
            display: block;
            margin-left: 40px;
            margin-right: 20px;
            margin-top: -15px;
            float: left;
          "
        />

        <p style="text-align: center; font-size: 40px">
          Welcome to <spnan style="font-weight: 900">Urban Refresh </spnan>
        </p>
      </div>
      <div style="padding: 30px; font-size: 18px">
        <p>Hello <%= user %>,</p>
        <p>
          Your Registration has completed succesfully. Now you can enjoy our
          services from well trained providers in your cities.
        </p>
        <p>Cheers,</p>
        <p>Team Urban Refresh</p>
      </div>
    </div>
  </body>
</html>
